<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mytestx.model">

	<resultMap type="mytestx.model.User" id="UserMap">
		<!--<id column="id" property="fileId"/>-->
		<result column="user_name" property="name"/>
		<!--<result column=""-->
	</resultMap>
	<select id="getusers" resultMap="UserMap">
		SELECT * FROM t_user
	</select>
	<insert id="addUser">
		insert into t_user(user_name) VALUES (#{name})
	</insert>




</mapper>